__pycache__/Dice.cpython-38.pyc
__pycache__/Field.cpython-38.pyc
__pycache__/Game.cpython-38.pyc
__pycache__/GUI.cpython-38.pyc
__pycache__/Player.cpython-38.pyc
__pycache__/Property.cpython-38.pyc
__pycache__/ui_GameWindow.cpython-38.pyc
.flake8
.vscode/settings.json
