__pycache__/Dice.cpython-38.pyc
__pycache__/Field.cpython-38.pyc
__pycache__/Game.cpython-38.pyc
__pycache__/GUI.cpython-38.pyc
__pycache__/Player.cpython-38.pyc
__pycache__/Property.cpython-38.pyc
__pycache__/ui_GameWindow.cpython-38.pyc
__pycache__/test_player.cpython-38-pytest-7.2.0.pyc
__pycache__/test_property.cpython-38-pytest-7.2.0.pyc
__pycache__/test_game.cpython-38-pytest-7.2.0.pyc
__pycache__/test_field.cpython-38-pytest-7.2.0.pyc
.flake8
.vscode/settings.json
